// Basic Styles
.title {
  color: grey;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: darken(#008AFF, 10%);
  }
}

.mainName {
  margin-bottom: 7px;
  span {
    display: inline-block;
    &::first-letter  {
      color: #008AFF;
    }
  }
}

.interact {
  border: 0px solid white;
  padding: 0px;
  transition: border 0.5s ease, padding 0.5s ease;
  &:hover {
    cursor: pointer;
    border:3px solid #008AFF;
    padding: 3px;
  }
}

body {
  background-color: rgb(82, 86, 89);
}

h1 { // Main Name
  font-size: 24pt;
}

h2 { // Section Titles
  font-size: 14pt;
  margin-bottom: 7px;
  color: #008AFF;
}

h3 { // Subtitle
  font-size: 12pt;
  color: #000000;
  span { // Contact Info
    color: #7F7F7F;
    br {
      line-height: 150%;
    }
  }
}

h4 { // Section Header
  font-size: 11pt;
  margin-bottom: 6px;
  color: #000000;
  span {
    font-weight: 900;
  }
}

h5 {
  line-height: 1.3;
  margin-bottom: 6px;
  font-size: 10pt;
  color: #000000;
}

p { // Main Info
  line-height: 1.3;
  margin-bottom: 6px;
  font-size: 10pt;
  color: #595959;
}

ul {
  margin: 0;
  line-height: 1;
  margin-bottom: 6px;
  font-size: 10pt;
  color: #595959;
  li {
    margin-bottom: 3px;
  }
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: 10px;
}

ul.dashed > li.indent {
  text-indent: 16px;
}

.left {
  width: 100%;
  text-align: left;
  vertical-align: middle;
}

.center {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.right {
  width: 100%;
  text-align: right;
  vertical-align: middle;
}

// Modal Styles
.ReactModal__Content {
  // transition: display 0.5s ease;
  padding: 0px !important;
}

.ReactModal__Body--open {
  // overflow-y: hidden;
    overflow: hidden;
    position: absolute;
}

// NavBar Styles
.modalNavBar {
  background-color: #008AFF !important;
}
